.button {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 50px;
  color: var(--white);
  background: var(--black);
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 8px 20px;
  text-transform: uppercase;
}

.button span {
  display: block;
  z-index: 2;
}

.button:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: var(--color);
  transition: 0.4s;
  z-index: 0;
  border-radius: 500px;
  left: 50%;
  top: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%) scale(0);
}

.button:hover {
  color: var(--white);
}

.button:hover:before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
