.button {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 40px;
  color: var(--white);
  background: var(--header-bg);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  padding: 14px 30px;
  transition: color 0.3s ease-out;
}

.button span {
  display: block;
  z-index: 2;
  pointer-events: none;
}

.button:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: var(--color);
  transition: 0.4s;
  z-index: 0;
  border-radius: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.button.button--green {
  background: var(--color);
}

.button.button--green:before {
  background: var(--header-bg);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    color: var(--white);
  }

  .button:hover:before {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 420px) {
  .button.button--green {
    width: 100%;
  }
}
