.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

.card {
  display: block;
  width: 100%;
  position: relative;
  perspective: 1000px;
}

/*MOBIL STYLES*/
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}

/*TABLET STYLES*/
@media (min-width: 768px) and (max-width: 1279px) {
  .card {
    width: calc(50% - (40px / 2));
  }
}

/*DESCTOP STYLES*/
@media (min-width: 1280px) {
  .card {
    width: calc(33.333333% - 26.666666px);
  }
}

.flip {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip__front,
.flip__back {
  display: flex;
  flex-direction: column;
  background: var(--white);
  min-height: 260px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-out;
}

.flip__front {
  justify-content: space-between;
  position: relative;
  padding: 40px 20px 20px 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}

.flip__back {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  transform: rotateY(180deg);
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

.card.active .flip {
  transform: rotateY(180deg);
}

/* button add to bookmarks*/
.add-to-bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 2.5rem;
  color: var(--grey);
  transform: translate(-25%, -20%);
  transition: 0.3s;
}

.add-to-bookmark:before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 20%;
  background: var(--grey);
  opacity: 1;
  transition: 0.3s;
}

.add-to-bookmark svg {
  display: block;
  width: 100%;
  height: 100%;
  stroke: 0px;
  pointer-events: none;
}

.add-to-bookmark.add-to-bookmark--active,
.add-to-bookmark:hover {
  color: var(--color);
}

.add-to-bookmark:hover:before {
  background: var(--color);
}

.add-to-bookmark.add-to-bookmark--active:before {
  opacity: 0;
}

/*typography*/

.card__question {
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.2;
}

.card__answer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  background: var(--color);
  border-radius: 15px;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--white);
  padding: 20px;
}

.card__answer:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    326deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 48%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.4;
}

/*Categories list*/

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  align-self: flex-start;
  gap: 6px;
  margin-top: 20px;
}

.categories li:before {
  content: "#";
}

.categories li {
  border-radius: 6px;
  padding: 5px 8px;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--black);
  border: 1px solid var(--black);
}
