.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  background: #fff;
  position: relative;
  border-radius: 20px;
  padding: 40px 20px 20px 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

/* button add to bookmarks*/
.add-to-bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 2.5rem;
  color: var(--grey);
  transition: 0.3s;
  transform: translate(-50%, -20%);
}

.add-to-bookmark.add-to-bookmark--active,
.add-to-bookmark:hover,
.add-to-bookmark:focus {
  color: var(--color-hover);
}

/*typography*/

.card__question {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}

.card__answer {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color);
}

/*Categories*/

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  align-self: flex-start;
  gap: 6px;
  margin-top: 20px;
}

.categories li:before {
  content: "#";
}

.categories li {
  background: var(--color);
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 0.8rem;
  color: var(--white);
}

/*MOBIL STYLES*/
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}

/*TABLET STYLES*/
@media (min-width: 768px) and (max-width: 1279px) {
  .card {
    width: calc(50% - 20px);
  }
}

/*DESCTOP STYLES*/
@media (min-width: 1280px) {
  .card {
    width: calc(33.333333% - 40px);
  }
}
