.body[data-thema="dark"] {
  background: var(--background-dark-thema);
  color: var(--white);
}

.body[data-thema="dark"] .profile__content {
  background: var(--background-card-dark-thema);
  border: 1px solid var(--grey-dark-thema);
}

.body[data-thema="dark"] .profile .headline--h2 {
  border-bottom: 1px solid var(--grey-dark-thema);
}

.body[data-thema="dark"] .profile p {
  opacity: 0.6;
}

.body[data-thema="dark"] .profile__counter {
  color: var(--white);
}

.body[data-thema="dark"] .profile__counter span {
  color: var(--white);
  opacity: 0.6;
}

.body[data-thema="dark"] .flip__front,
.body[data-thema="dark"] .flip__back {
  background: var(--background-card-dark-thema);
  border: 1px solid var(--grey-dark-thema);
}

.body[data-thema="dark"] .button {
  color: var(--black);
  background: var(--white);
}

.body[data-thema="dark"] .button:hover {
  color: var(--white);
}

.body[data-thema="dark"] .categories li {
  color: var(--white);
  border: 1px solid var(--color);
  background: var(--color);
}
