.body[data-thema="dark"] {
  background: var(--background-dark-thema);
  color: var(--white);
}

.body[data-thema="dark"] .profile__foto {
  border: 4px solid #d1d1d1;
}

.body[data-thema="dark"] .profile__content {
  background: var(--background-card-dark-thema);
}

.body[data-thema="dark"] .profile__content,
.body[data-thema="dark"] .flip__front,
.body[data-thema="dark"] .flip__back {
  background: var(--background-card-dark-thema);
  color: var(--black);
}

.body[data-thema="dark"] .label b {
  color: var(--white);
}

/* .body[data-thema="dark"] .preloader {
  background: var(--background-dark-thema);
}

.body[data-thema="dark"] .preloader:before,
.body[data-thema="dark"] .preloader:after {
  border-left: 3px solid var(--color-light);
  border-top: 3px solid var(--color-light);
} */
