.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 20;
  background: var(--header-bg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.header .corner.corner--lt {
  left: 0px;
  top: 100%;
  transform: rotate(90deg);
}

.header .corner.corner--rt {
  right: 0px;
  top: 100%;
  transform: rotate(180deg);
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo svg {
  width: 30px;
  height: 30px;
  fill: var(--color-light);
}

.logo__title {
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1;
  color: var(--white);
}

@media (min-width: 460px) {
  .header {
    width: calc(100% - 60px);
    max-width: 360px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 0px 0px 36px 36px;
  }

  .header .corner.corner--lt {
    width: 30px;
    height: 30px;
    left: auto;
    right: 100%;
    top: 0%;
    transform: rotate(-180deg);
  }

  .header .corner.corner--rt {
    width: 30px;
    height: 30px;
    right: auto;
    left: 100%;
    top: 0%;
    transform: rotate(90deg);
  }
}
