.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 70px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  background: var(--color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--white);
  font-size: 24px;
}

.logo__title {
  font-size: inherit;
  font-weight: 600;
  line-height: 1;
}
