.main {
  display: block;
  position: relative;
  max-width: 420px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 60px 20px;
  z-index: 10;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .main {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .main {
    max-width: 1200px;
  }
}
