.main {
  display: block;
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 60px auto;
  padding: 0px 20px;
  background: var(--background);
  border-radius: 20px;
  z-index: 10;
}

@media (min-width: 768px) {
  .main {
    padding: 70px 0px 70px 0px;
  }
}
