.navigation {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation__menu {
  display: flex;
  width: 100%;
  height: 100%;
}

.navigation__item {
  display: block;
  height: 100%;
  width: 25%;
}

.navigation__item a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  font-size: 0.7rem;
  line-height: 1;
  text-align: center;
  color: var(--white);
  transition: 0.3s;
}

.navigation__item a svg {
  width: 28px;
  height: 24px;
  fill: currentColor;
}

.navigation__item.active a svg,
.navigation__item a:hover svg,
.navigation__item a:focus svg {
  color: var(--color-light);
}

@media (min-width: 768px) {
  .navigation__menu {
    justify-content: space-evenly;
  }

  .navigation__item {
    width: auto;
  }
  .navigation__item a {
    flex-direction: row;
    width: auto;
    gap: 8px;
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
    color: var(--white);
    transition: 0.3s;
  }
}
