.preloader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: var(--background-dark-thema);
  z-index: 19;
  left: 0px;
  top: 0px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.preloader.hidden {
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.preloader:before,
.preloader:after {
  content: "";
  position: absolute;
  border-radius: 40px;
  border-left: 3px solid var(--color-light);
  border-top: 3px solid var(--color-light);
  border-right: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.preloader:before {
  width: 60px;
  height: 60px;
  animation: rotate 0.7s infinite linear;
}

.preloader:after {
  width: 40px;
  height: 40px;
  animation: rotate 0.6s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
