.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  gap: 30px;
}

.profile__header {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.profile .headline--h2 {
  padding-bottom: 10px;
  margin-bottom: 14px;
  border-bottom: 1px solid var(--grey);
}

.profile__foto {
  display: block;
  border: 4px solid var(--color);
  width: 45%;
  max-width: 180px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.profile__foto img {
  width: 100%;
}

/*counter*/

.profile__counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 30px;
  font-size: 1.5rem;
  color: var(--color);
}

.profile__counter li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.profile__counter span {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black);
}

/*settings*/
.profile__settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__settings li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
