<footer class="footer" data-import>
  <div class="container">
    <nav class="navigation">
      <menu class="navigation__menu">
        <li class="navigation__item navigation__item--active">
          <a href="./"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="navigation__item">
          <a href="./bookmarks.html"><i class="fa-solid fa-bookmark"></i></a>
        </li>
        <li class="navigation__item">
          <a href="./profile.html"><i class="fa-regular fa-user"></i></a>
        </li>
      </menu>
    </nav>
  </div>
</footer>
